@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Protest+Revolution&display=swap');
body{
    font-family: "LXGW WenKai TC", cursive;
    font-family: "Protest Revolution", serif;
    margin: 0;
}
.container{
  wigth: 900px;
  max-width: 90vw;
  margan: auto;
  text-align: center;
  padding: 10px;
}
svg{
  width: 30px;
}
header{
  display: flex;
  align-item: center;
  justify-content: space-between;
  padding: 2-px 0;
}
header .icon-cart{
  position: relative;
}
header .icon-cart span{
  display: flex;
  wigth: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px rgb(255, 108, 203));
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    backgroung-color: #2794b8
    padding:20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: rgba(38, 38, 250, 0.8);
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
